<h1><%= @guest.name %>様</h1>
<h1>結婚披露宴へのご招待</h1>
<h2>ともからのメッセージ：<%= @guest.tomo_message %></h2>
<h2>えりからのメッセージ：<%= @guest.eri_message %></h2>
<br>
<h1>平成２９年１０月２８日（土）</h1>
<h1>11時頃～</h1>
<h1>＠QED</h1>
<br>
<br>


<h1>下のフォームから、出欠席とメッセージを送信してね！</h1>
