@charset 'UTF-8';

.header{
	height: 60px;
	background-color: #ff8495;
	z-index: 9999;
	width: 100%;
	position: fixed;
}
.header h1{
	margin: 0;
	padding: 0;
}
.header .inner{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.header .inner .logo{
	float: left;
	padding: 10px 0 0 0;
}
.header .inner .header_nav{
	float: right;
	padding-right: 17px;
}
.header .inner .header_nav ul{
	overflow: hidden;
	zoom: 1;
	margin-top: 20px;
}
.header .inner .header_nav ul li{
	float: left;
	margin-right: 55px;
}
.header .inner .header_nav ul li.pc{
	display: block;
}
.header .inner .header_nav ul li.sp{
	display: none;
}
.header .inner .header_nav ul li:last-child{
	margin-right: 0;
	position:relative;
}
.header .inner .header_nav ul li a{
	color: #FFF;
	text-decoration: none;
	display: block;
}
.header .inner .header_nav ul li.active{
	border-bottom: 1px solid #FFF;
}
.header .inner .header_nav ul li:hover{
	border-bottom: 1px solid #FFF;
}
.header span.label.pc{
	position: absolute;
	top: 13px;
	right: -5px;
	color: #fff;
	background: #f00;
	border-radius: 5px;
	display: block;
	padding-left: 3px;
    padding-right: 3px;
	height: 20px;
	text-align: center;
	font-size: 10px;
	vertical-align: top;
	line-height: 20px;
}
.header span.label.pc{
	display: block!important;
}
.header span.label.sp{
	display: none!important;
}

.footer{
	width: 100%;
	position: relative;
	z-index: 100;
	background-color: #999;
	padding: 30px 0 17px;
	text-align: center;
}
.footer .pagetop{
	position: absolute;
	top: -80px;
	right: 16px;
}

.footer ul{
	overflow: hidden;
	zoom: 1;
	max-width: 1100px;
	margin: 0 auto;
	text-align: center;
}
.footer ul li{
	display: inline-block;
	padding-left: 30px;
}
.footer ul li a{
	color: #fff;
	text-decoration: none;
}




@media screen and (max-width: 1024px) {
	.header{
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1000;
	}
	.header .inner{
		width: 100%;
	}
	.header .inner .header_nav{
		padding-right: 0;
		display: none;
		width: 100%;
		position: relative;
		z-index: 10000;
	}
	.header .inner .header_nav ul{
		margin-top: 0px;
		width: 100%;
		text-align: center;
		border-top: 1px solid #FFF;
		background: url(../img/common/cmn_bg_nav.png) repeat;
	}
	.header .inner .header_nav ul li{
		float: none;
		margin-right: 0;
		border-bottom: 1px solid #FFF;
		height: 48px;
		line-height: 48px;
	}
}

@media screen and (max-width: 960px) {
	.header .inner .header_nav ul li.pc{
		display: none;
	}
	.header .inner .header_nav ul li.sp{
		display: block;
	}
	.header .inner .logo {
		margin: 0;
		position: absolute;
		top: 0px;
		/*left: 50%;*/
		/*margin-left: -75px;*/
		float: none;
		width: 100%;
	}
	.wrap,.container{
		width: 100%;
	}
	.content{
		float: none;
		width: 94%;
		border: none;
		background-color: #FFF;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 20px;
	}
	.footer {
		padding: 15px 0;
	}
	.footer ul {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	body{
		font-size: 14px;
	}
	img{
		width: 100%;
		height: auto;
	}
	.content h2 {
		margin: 0;
		font-weight: normal;
		border-bottom: 1px solid #d2d2d2;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
	}
	.footer .pagetop{
		top: -50px;
	}
	.footer .pagetop img{
		width: 40px;
		height: 40px;
	}
	.footer ul{
		width: 90%;
		margin: 0 auto;
	}
	.footer ul li{
		padding: 0 20px 0 0;
		display: inline-block;
	}
}
