@charset "UTF-8";
@font-face {
	font-family: 'liberation_sansbold';
	src: url("../../../templete_set/sim02GLD/css/LiberationSans-Bold-webfont.eot");
	src: url("../../../templete_set/sim02GLD/css/LiberationSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../templete_set/sim02GLD/css/LiberationSans-Bold-webfont.woff") format("woff"), url("../../../templete_set/sim02GLD/css/LiberationSans-Bold-webfont.ttf") format("truetype"), url("../../../templete_set/sim02GLD/css/LiberationSans-Bold-webfont.svg#liberation_sansbold") format("svg");
	font-weight: normal;
	font-style: normal;
}


/*------------------------------------------------------------
	移設
------------------------------------------------------------*/
ol,ul,dl,dd,dt{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
}

input, select {
	line-height: 1.5;
	}
#main .ttl01 {
	margin-bottom: 60px;
	font-size: 142.85714%;
	text-align: center;
	letter-spacing: 2px;
}
#main .welTtl01 {
	margin-bottom: 35px;
	width: 100%;
	display: table;
	color: #666;
	font-size: 150%;
	text-align: center;
	letter-spacing: -0.04em;
}
#main .welTtl01 .name {
	width: 45%;
	display: table-cell;
	vertical-align: middle;
	letter-spacing: normal;
}
#main .welTtl01 .name .inner {
	display: inline-block;
}
#main .welTtl01 .name .inner .lastName {
	display: block;
	font-size: 65%;
	text-align: center;
}
#main .welTtl01 .name:first-child {
	margin-left: 0;
}
#main .welTtl01 .groom {
	text-align: right;
}
#main .welTtl01 .bride {
	text-align: left;
}
#main .welTtl01 .heart {
	padding: 0 10px;
	width: 18px;
	display: table-cell;
	vertical-align: middle;
	letter-spacing: normal;
}
#main .welTtl01 .heart img {
	width: 18px;
	height: auto;
}
@media only screen and (min-width: 641px) {
  #main .welTtl01 {
	margin-bottom: 50px;
	font-size: 285%;
	text-align: center;
  }
  #main .welTtl01 .name:first-child {
	margin-left: 0;
  }
  #main .welTtl01 .name .lastName {
	display: block;
	font-size: 65%;
  }
  #main .welTtl01 .groom {
	padding-right: 80px;
	text-align: right;
  }
  #main .welTtl01 .bride {
	padding-left: 80px;
	text-align: left;
  }
  #main .welTtl01 .heart {
	margin: 0 70px;
	padding: 0;
	width: 36px;
  }
  #main .welTtl01 .heart img {
	width: 36px;
  }
}

#main .welNav ul {
	border-top: 1px #D8D8D8 solid;
	border-bottom: 1px #D8D8D8 solid;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	text-align: center;
}
#main .welNav ul li {
	width: 1000px;
	border-right: 1px #D8D8D8 solid;
	border-left: 1px #D8D8D8 solid;
	box-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	line-height: 1;
}
#main .welNav ul li:first-child {
	border-right: none;
}
#main .welNav ul li:last-child {
	border-left: none;
}
#main .welNav ul li:last-child a {
	padding: 15px 0;
}
#main .welNav ul li a {
	padding: 20px 0;
	display: block;
	color: #666;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;
}
#main .welNav ul li a span {
	display: block;
}
#main .welNav ul li a:hover {
	color: #FFF;
	background-color: #999;
}

@media only screen and (min-width: 641px) {
  #main .welNav ul {
	display: block;
	text-align: center;
	letter-spacing: -0.04em;
	font-size: 0;
  }
  #main .welNav ul li {
	width: 230px;
	display: inline-block;
	font-size: 14px;
	letter-spacing: normal;
  }
  #main .welNav ul li:first-child {
	border-left: 1px #D8D8D8 solid;
  }
  #main .welNav ul li:last-child a {
	padding: 30px 0;
  }
  #main .welNav ul li a {
	padding: 30px 0;
	font-size: 100%;
  }
  #main .welNav ul li a span {
	margin-left: 5px;
	display: inline;
  }
}
/*--------------------------------フォーム系--------------------------------*/
fieldset{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
}

/*------------------------------------------------------------
	WELCOME02
------------------------------------------------------------*/
#container {
	padding-top: 60px;
}
#container #main {
	position: relative;
}
#container #main .welTtl02 {
	margin-left: -160px;
	width: 320px;
	display: table;
	position: absolute;
	top: 260px;
	left: 50%;
	color: #fFF;
	font-size: 170%;
	font-family: "Abril Fatface", cursive;
	font-weight: normal;
	z-index: 100;
}
#container #main .welTtl02 .name {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#container #main .welTtl02 .name .inner {
	padding: 38px 0 0;
	width: 120px;
	height: 120px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	-ms-border-radius: 200px;
	-o-border-radius: 200px;
	border-radius: 200px;
	display: inline-block;
	background-color: rgba(129, 216, 208, 0.7);
}
#container #main .welNav02 ul {
	width: 100%;
	display: table;
}
#container #main .welNav02 ul li {
	width: 33%;
	border-left: 1px #D8D8D8 solid;
	display: table-cell;
	text-align: center;
	letter-spacing: normal;
}
#container #main .welNav02 ul li:first-child {
	border-left: none;
}
#container #main .welNav02 ul li a {
	padding: 12px 0;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	color: #000;
	font-family: "Abril Fatface";
	text-decoration: none;
	font-size: 85%;
	letter-spacing: 2px;
}
#container #main .welNav02 ul li a:hover {
	background-color: rgba(255, 255, 255, 0.6);
}
#container #main #conts {
	width: auto;
}
#container #main #conts #mainVisual {
	margin-bottom: 0px;
	height: 440px;
	overflow: hidden;
	/* background: url(/images/img_mv.jpg) center center; */
	background-size: cover;
}
#container #main #conts #mainVisual img {
	width: 100%;
	height: auto;
}
#container #main #conts .ttl01 {
	color: #000;
	font-size: 85%;
	font-family: "Abril Fatface";
	font-weight: normal;
	font-style: italic;
}
#container #main #conts .ttl01 .icon {
	position: relative;
}
#container #main #conts .ttl01 .icon:after, #container #main #conts .ttl01 .icon:before {
	margin-top: -2px;
	width: 30px;
	height: 4px;
	position: absolute;
	top: 50%;
	content: "";
}
#container #main #conts .ttl01 .icon:after {
	right: -40px;
	background: url(/images/ttl_deco_r.png) no-repeat;
	-webkit-background-size: 30px 4px;
	-moz-background-size: 30px 4px;
	-ms-background-size: 30px 4px;
	-o-background-size: 30px 4px;
	background-size: 30px 4px;
}
#container #main #conts .ttl01 .icon:before {
	left: -40px;
	background: url(/images/ttl_deco_l.png) no-repeat;
	-webkit-background-size: 30px 4px;
	-moz-background-size: 30px 4px;
	-ms-background-size: 30px 4px;
	-o-background-size: 30px 4px;
	background-size: 30px 4px;
}
#container #main #conts .top {
	margin-top: 40px;
	margin-bottom: 40px;
}
#container #main #conts .top .ttl01 {
	margin-bottom: 25px;
}
#container #main #conts .top .unitCol2 {
	padding: 0 10px;
	min-width: 300px;
	letter-spacing: -0.4em;
	text-align: center;
}
#container #main #conts .top .unitCol2 li {
	margin-bottom: 20px;
	width: 300px;
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
}
#container #main #conts .top .unitCol2 li:last-child {
	margin-bottom: 0;
}
#container #main #conts .top .unitCol2 li .img {
	margin: 0 auto 15px;
	width: 160px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#container #main #conts li .img .pPhoto {
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-ms-border-radius: 80px;
	-o-border-radius: 80px;
	border-radius: 80px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center center;
	width: 160px;
	height: 160px;
}
#container #main #conts .top .unitCol2 li .name {
	margin-bottom: 15px;
	font-size: 150%;
	font-family: "Abril Fatface";
	font-weight: normal;
	color: #000;
}
#container #main #conts .top .unitCol2 li p {
	color: #666;
	line-height: 2;
	font-size: 85%;
}
#container #main #conts .countDown {
	margin: 0 auto 40px;
	width: auto;
	min-height: 220px;
	background: url(/images/bg_countdown.png) no-repeat center top;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#container #main #conts .countDown .frame {
	margin: 0 auto;
}
#container #main #conts .countDown .frame .day {
	margin: 0 auto 20px;
	padding-top: 20px;
	width: 215px;
	position: relative;
	color: #000;
	text-align: center;
	font-size: 85%;
	font-family: "Abril Fatface", cursive;
	font-weight: bold;
}
#container #main #conts .countDown .frame .day .week {
	display: block;
	margin-top: 16px;
}
#container #main #conts .countDown .frame .inner {
	margin: 0 auto;
	width: 230px;
	letter-spacing: -0.04em;
	text-align: center;
}
#container #main #conts .countDown .frame .inner div {
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
	color: #333;
	letter-spacing: normal;
	font-family: "Abril Fatface", cursive;
}
#container #main #conts .countDown .frame .inner div:nth-child(4) {
	display: none;
}
#container #main #conts .countDown .frame .inner div:nth-child(5), #container #main #conts .countDown .frame .inner div:nth-child(6), #container #main #conts .countDown .frame .inner div:nth-child(7) {
	margin-bottom: 0;
}
#container #main #conts .countDown .frame .inner div.colon {
	padding-top: 12px;
	margin: 0 10px;
	width: 10px;
}
#container #main #conts .countDown .frame .inner div.colon img {
	width: 5px;
	height: auto;
}
#container #main #conts .countDown .frame .inner div.timeNum {
	width: 88px;
	font-size: 230.0%;
	text-align: center;
	line-height: 1;
}
#container #main #conts .countDown .frame .inner div.timeNum .txt {
	margin-top: 5px;
	display: block;
	font-size: 24%;
	font-family: 'Abril Fatface' !important;
	font-style: italic;
	font-weight: 400;
}
#container #main #conts .event {
	margin-bottom: 40px;
}
#container #main #conts .event .ttl01 {
	margin-bottom: 35px;
}
#container #main #conts .event .unitCol1 {
	letter-spacing: -0.4em;
	text-align: center;
}
#container #main #conts .event .unitCol1 li {
	margin-bottom: 65px;
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
	overflow: hidden;
	zoom: 1;
}
#container #main #conts .event .unitCol1 li:last-child {}
#container #main #conts .event .unitCol1 li .deco {
	margin-bottom: 20px;
	padding: 25px 0;
	position: relative;
}
#container #main #conts .event .unitCol1 li .deco:after, #container #main #conts .event .unitCol1 li .deco:before {
	margin-left: -89px;
	width: 178px;
	height: 9px;
	background: url(/images/icon_deco.png) no-repeat center top;
	position: absolute;
	left: 50%;
	content: "";
}
#container #main #conts .event .unitCol1 li .deco:before {
	top: 0;
}
#container #main #conts .event .unitCol1 li .deco:after {
	bottom: 0;
}
#container #main #conts .event .unitCol1 li .deco .ttl {
	margin-bottom: 20px;
	font-size: 150%;
	font-family: "Abril Fatface", cursive;
}
#container #main #conts .event .unitCol1 li .deco p {
	font-family: "Abril Fatface", cursive;
	line-height: 1.5;
}
#container #main #conts .event .unitCol1 li .deco p .time {
	font-size: 170%;
}
#container #main #conts .event .unitCol1 li .deco + p {
	line-height: 2;
}
#container #main #conts .event .unitCol1  li a {
	color: #000000;
}
#container #main #conts .event .unitCol2 {
	letter-spacing: -0.4em;
	text-align: center;
}
#container #main #conts .event .unitCol2 li {
	margin-bottom: 35px;
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
}
#container #main #conts .event .unitCol2 li:last-child {
	margin-bottom: 0;
}
#container #main #conts .event .unitCol2 li .deco {
	margin-bottom: 20px;
	padding: 25px 0;
	position: relative;
}
#container #main #conts .event .unitCol2 li .deco:after, #container #main #conts .event .unitCol2 li .deco:before {
	margin-left: -89px;
	width: 178px;
	height: 9px;
	background: url(/images/icon_deco.png) no-repeat center top;
	position: absolute;
	left: 50%;
	content: "";
}
#container #main #conts .event .unitCol2 li .deco:before {
	top: 0;
}
#container #main #conts .event .unitCol2 li .deco:after {
	bottom: 0;
}
#container #main #conts .event .unitCol2 li .deco .ttl {
	margin-bottom: 20px;
	font-size: 150%;
	font-family: "Abril Fatface", cursive;
}
#container #main #conts .event .unitCol2 li .deco p {
	font-family: "Abril Fatface", cursive;
	line-height: 1.5;
}
#container #main #conts .event .unitCol2 li .deco p .time {
	font-size: 170%;
}
#container #main #conts .event .unitCol2 li .deco + p {
	line-height: 2;
}
#container #main #conts .event .unitCol2  li a {
	color: #000000;
}
#container #main #conts .invForm {
	padding: 20px;
	margin: 0 auto 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background: url(/images/bg_form.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#container #main #conts .invForm .frame {
	padding: 15px;
	margin: 0 auto;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
}
#container #main #conts .invForm .frame h2 {
	margin-bottom: 12px;
	color: #81D8D0;
	font-size: 150%;
	font-family: 'Abril Fatface' !important;
	font-style: italic;
	font-weight: 400;
	text-align: center;
}
#container #main #conts .invForm .frame p {
	margin-bottom: 40px;
	font-size: 90%;
	line-height: 2;
}
#container #main #conts .invForm .frame .form {
	width: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
	position: relative;
}

#container #main #conts .event {
margin-bottom: 80px;
}
#conts .event .gmap{
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#conts .event .mapbox{
  position: relative;
  width: 100%;
/*  padding-bottom: 56.25%; */
/*  height: 0; */
  overflow: hidden;
}
#conts .event .gmap iframe,
#conts .event .gmap object,
#conts .event .gmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#container #main #conts .event .ttl01 {
margin-bottom: 35px;
}
#container #main #conts .event .unitCol1 {
text-align: center;
margin-bottom: 80px;
}
#container #main #conts .event .unitCol1 li {
	width: 100%;
}
#container #main #conts .event .unitCol1 li .shopdata{
	width: 100%;
	margin: 0 auto 30px;
}
#container #main #conts .event .unitCol1 li .gmap{
	width: 90%;
	margin: 0 auto;
}
#container #main #conts .event .unitCol1 li .gmap iframe{
	width: 100%;
}
#container #main #conts .event .unitCol1 li .deco .ttl {
margin-bottom: 20px;
font-size: 150%;
}
#container #main #conts .event .unitCol1 li .deco p {
font-size: 130%;
}
#container #main #conts .event .unitCol1 li .deco p .time {
font-size: 140%;
}
#container #main #conts .event .unitCol2 {
text-align: center;
margin-bottom: 30px;
}
#container #main #conts .event .unitCol2 li {
width: 90%;
margin-bottom: 60px;
}
#container #main #conts .event .unitCol2 li .shopdata{
	float: none;
	width: 90%;
	margin: 0 auto 30px;
}
#container #main #conts .event .map-col01{
	width: 90%;
	margin: 0 auto 80px;
}
#container #main #conts .event .map-col01 iframe{
	width: 100%;
}
#container #main #conts .event .unitCol2 li .gmap{
	margin: 0 auto;
}
#container #main #conts .event .unitCol2 li .gmap iframe{
	width: 100%;
}
#container #main #conts .event .unitCol2 li .deco .ttl {
margin-bottom: 20px;
font-size: 150%;
}
#container #main #conts .event .unitCol2 li .deco p .time {
font-size: 170%;
}


#conts .event .mapbox{
  position: relative;
  height: 279px;
  width: 100%;
/*  padding-bottom: 56.25%; */
/*  height: 0; */
  overflow: hidden;
}
#conts .event .gmap iframe,
#conts .event .gmap object,
#conts .event .gmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
	#container #main #conts .center_iframe {
	  display: block;
	  margin: auto;
	}



#conts .invForm .frame .form_cap {
	background-color: rgba(80,80,80,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 1000;
	text-align: center;
	color: #FFF;
}
#conts .invForm .frame .form_cap h2 {
	color: #FFF !important;
	font-size: 120%;
	margin: 60px auto 20px auto;
}


#container #main #conts .invForm .frame .form dl {
	margin-bottom: 10px;
	width: 100%;
}
#container #main #conts .invForm .frame .form dl:last-child {
	margin-bottom: 40px;
}
#container #main #conts .invForm .frame .form dl dt, #container #main #conts .invForm .frame .form dl dd {
	display: block;
	vertical-align: top;
}
#container #main #conts .invForm .frame .form dl dt {
	padding-top: 5px;
	font-size: 85%;
}
#container #main #conts .invForm .frame .form dl dd input, #container #main #conts .invForm .frame .form dl dd select {
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
#conts .invForm .frame .form dl dd textarea  {
	width: 100%;
}
#container #main #conts .invForm .frame .form dl dd .error {
	margin: 5px 0 0;
	color: #FF3535;
	font-size: 85%;
}
#container #main #conts .invForm .frame .form dl dd.name .inner {
	display: table;
}
#container #main #conts .invForm .frame .form dl dd.name .inner .input {
	padding-left: 10px;
	display: table-cell;
}
#container #main #conts .invForm .frame .form dl dd.name .inner .input:first-child {
	padding: 0 10px 0 0;
}
#container #main #conts .invForm .frame .form dl dd.zip .inner {
	display: table;
}
#container #main #conts .invForm .frame .form dl dd.zip .inner .input {
	display: table-cell;
	vertical-align: middle;
}
#container #main #conts .invForm .frame .form dl dd.zip .inner .input input {
	width: 130px;
}
#container #main #conts .invForm .frame .form dl dd.zip .inner .input:first-child input {
	width: 100px;
}
#container #main #conts .invForm .frame .form dl dd.zip .inner .txt {
	padding: 0 10px;
	display: table-cell;
	vertical-align: middle;
	color: #CCC;
}
#container #main #conts .invForm .frame .form .formBtn {
	margin: -20px auto 20px auto;
	width: 123px;
}
#container #main #conts .invForm .frame .form .formBtn button {
	padding: 10px 0;
	width: 123px;
	background-color: #81D8D0;
	border: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	color: #fff;
	font-size: 110.0%;
	cursor: pointer;
}
#container #main #conts .invForm .frame .form .formBtn:hover button {
	background-color: #A3E2DC;
}
#container #main #conts .diary {
	margin-bottom: 85px;
}
#container #main #conts .diary .ttl01 {
	margin-bottom: 25px;
}
#container #main #conts .diary ul {
	padding: 0 10px;
	display: block;
}
#container #main #conts .diary ul li {
	margin-bottom: 30px;
}
#container #main #conts .diary ul li:last-child {
	margin-bottom: 0;
}
#container #main #conts .diary ul li a {
	display: block;
	color: #000;
	text-decoration: none;
}
#container #main #conts .diary ul li a .box {
	width: 100%;
}
#container #main #conts .diary ul li a .box .img {
	margin-bottom: 10px;
}
#container #main #conts .diary ul li a .box .img img {
	width: 100%;
	height: auto;
}
#container #main #conts .diary ul li a .box .inner .ttl {
	margin-bottom: 12px;
	font-size: 120%;
	font-weight: normal;
	font-family: 'あおぞら明朝 Regular','Hiragino Mincho ProN','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
#container #main #conts .diary ul li a .box .inner p {
	line-height: 2;
}
#container #main #conts .diary ul li a .box .inner p.time {
	margin-top: 10px;
}
#container #main #conts .diary ul li a:hover .box .img img {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#container #main #conts .diary ul li a:hover .box .inner .ttl {
	color: #dfbf48;
}
#container #main #conts .diary .messageBox {
	  text-align:center;
	  width: 95%;
	  margin-right: auto;
	  margin-left: auto;

}
.greeting {
	width: 90%;
	margin: 40px auto;
	text-align: center;
}
#conts .invForm .form .kiyaku {
	margin: -20px auto;
	font-size: 85%;
	text-align:center;
	color: #999;
}
#conts .invForm .form .kiyaku a{
	color: #999;
}

/*------------------------------------------------------------
	ブレイクポイントごとの設定
------------------------------------------------------------*/
/* 640px以上 */
@media only screen and (min-width: 641px) {
  #container #main {
	position: relative;
  }
  #container #main .welTtl02 {
	margin-left: -480px;
	width: 960px;
	top: 200px;
  }
  #container #main .welTtl02 .name .inner {
	padding: 54px 0 0;
	width: 161px;
	height: 161px;
  }
  #container #main .welNav02 {
	margin-left: -302px;
	width: 605px;
	position: absolute;
	top: 30px;
	left: 50%;
	z-index:1;
  }
  #container #main .welNav02 ul li {
	margin-left: 1px;
	width: 201px;
	display: block;
	border-left: none;
	float: left;
	text-align: center;
	letter-spacing: normal;
  }
  #container #main .welNav02 ul li:first-child {
	margin-left: 0;
  }
  #container #main .welNav02 ul li a {
	padding: 24px 0;
  }
  #container #main .welNav02 ul li a:hover {
	background-color: rgba(255, 255, 255, 0.6);
  }
  #container #main #conts #mainVisual {
	margin-bottom: 70px;
	height: 500px;
  }
  #container #main #conts .ttl01 {
	font-size: 150%;
  }
  #container #main #conts .ttl01 .icon {
	position: relative;
  }
  #container #main #conts .ttl01 .icon:after, #container #main #conts .ttl01 .icon:before {
	margin-top: -4px;
	width: 60px;
	height: 8px;
  }
  #container #main #conts .ttl01 .icon:after {
	right: -80px;
	background: url(/images/ttl_deco_r.png) no-repeat;
  }
  #container #main #conts .ttl01 .icon:before {
	left: -80px;
	background: url(/images/ttl_deco_l.png) no-repeat;
  }
  #container #main #conts .top {
	margin-top: 70px;
	margin-bottom: 80px;
  }
  #container #main #conts .top .ttl01 {
	margin-bottom: 45px;
  }
  #container #main #conts .top .unitCol1 {
	letter-spacing: -0.4em;
	text-align: center;
  }
  #container #main #conts .top .unitCol1 li {
	margin: auto 40px;
  }
  #container #main #conts .top .unitCol1 li:first-child {
	margin-left: 0;
  }
  #container #main #conts .top .unitCol1 li .img {
	width: 160px;
  }
  #container #main #conts .top .unitCol2 {
	letter-spacing: -0.4em;
	text-align: center;
  }
  #container #main #conts .top .unitCol2 li {
	margin: auto 40px;
	width: 300px;
  }
  #container #main #conts .top .unitCol2 li:first-child {
	margin-left: 0;
  }
  #container #main #conts .top .unitCol2 li .img {
	width: 160px;
  }
  #container #main #conts .countDown {
	margin: 0 auto 80px;
	width: auto;
	height: 300px;
  }
  #container #main #conts .countDown .frame {
	margin: 0 auto 35px;
	max-width: 960px;
  }
  #container #main #conts .countDown .frame .day {
	margin: 0 auto 40px;
	padding-top: 40px;
	font-size: 250%;
  }
  #container #main #conts .countDown .frame .day .week {
	font-size: 66.0%;
  }
  #container #main #conts .countDown .frame .inner {
	margin: 0 auto;
	width: 100%;
	text-align: center;
  }
  #container #main #conts .countDown .frame .inner div {
	margin-bottom: 0;
	vertical-align: middle;
	font-family: "Abril Fatface", cursive;
  }
  #container #main #conts .countDown .frame .inner div:nth-child(4) {
	display: inline-block;
  }
  #container #main #conts .countDown .frame .inner div.colon {
	padding-top: 0;
	margin: 0 5px;
  }
  #container #main #conts .countDown .frame .inner div.colon img {
	width: 10px;
  }
  #container #main #conts .countDown .frame .inner div.timeNum {
	width: 160px;
	font-size: 420.0%;
  }
  #container #main #conts .countDown .frame .inner div.timeNum .txt {
	margin-top: 5px;
	font-size: 24%;
  }
  #container #main #conts .event {
	margin-bottom: 80px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 60px;
  }
  #container #main #conts .event .ttl01 {
	margin-bottom: 35px;
  }
/*糸島*/
 #container #main #conts .event_detail {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
  }
  #conts .detail_small .gmap {
    clear: both;
    padding-left: 0;
    padding-right: 0;
  }

	#container #main #conts .center_iframe {
	  display: block;
	  margin: auto;
	}

/*糸島*/

	#container #main #conts .event .unitCol1 {
		letter-spacing: -0.4em;
		text-align: center;
	}
	#container #main #conts .event .unitCol1 li {
	}
	#container #main #conts .event .unitCol1 li .shopdata{
		float: left;
		width: 450px;
	}
	#container #main #conts .event .unitCol1 li .gmap{
		float: left;
		width: 450px;
	}
	#container #main #conts .event .unitCol1 li .gmap iframe{
		float: left;
		width: 450px;
	}
	#container #main #conts .event .unitCol1 li {
		margin-bottom: 65px;
		display: inline-block;
		letter-spacing: normal;
		vertical-align: top;
		overflow: hidden;
		zoom: 1;
	}
	#container #main #conts .event .unitCol1 li:last-child {}
	#container #main #conts .event .unitCol1 li .deco {
		margin-bottom: 20px;
		padding: 25px 0;
		position: relative;
	}
	#container #main #conts .event .unitCol1 li .deco:after, #container #main #conts .event .unitCol1 li .deco:before {
		margin-left: -89px;
		width: 178px;
		height: 9px;
		background: url(/images/icon_deco.png) no-repeat center top;
		position: absolute;
		left: 50%;
		content: "";
	}
	#container #main #conts .event .unitCol1 li .deco:before {
		top: 0;
	}
	#container #main #conts .event .unitCol1 li .deco:after {
		bottom: 0;
	}
	#container #main #conts .event .unitCol1 li .deco .ttl {
		margin-bottom: 20px;
		font-size: 150%;
		font-family: "Abril Fatface", cursive;
	}
	#container #main #conts .event .unitCol1 li .deco p {
		font-family: "Abril Fatface", cursive;
		line-height: 1.5;
		font-size:130%;
	}
	#container #main #conts .event .unitCol1 li .deco p .time {
		font-size: 140%;
	}
	#container #main #conts .event .unitCol1 li .deco + p {
		line-height: 2;
	}
	#container #main #conts .event .unitCol1  li a {
		color: #000000;
	}
	#container #main #conts .event .unitCol2 {
		/*letter-spacing: -0.4em;*/
		text-align: center;
	}
	#container #main #conts .event .unitCol2 li {
		width: 50%;
		margin-bottom: 35px;
		display: inline-block;
		letter-spacing: normal;
		vertical-align: top;
	}
	#container #main #conts .event .unitCol2 li:last-child {
		margin-bottom: 0;
	}
	#container #main #conts .event .unitCol2 li .deco {
		margin-bottom: 20px;
		padding: 25px 0;
		position: relative;
	}
	#container #main #conts .event .unitCol2 li .deco:after, #container #main #conts .event .unitCol2 li .deco:before {
		margin-left: -89px;
		width: 178px;
		height: 9px;
		background: url(/images/icon_deco.png) no-repeat center top;
		position: absolute;
		left: 50%;
		content: "";
	}
	#container #main #conts .event .unitCol2 li .deco:before {
		top: 0;
	}
	#container #main #conts .event .unitCol2 li .deco:after {
		bottom: 0;
	}
	#container #main #conts .event .unitCol2 li .deco .ttl {
		margin-bottom: 20px;
		font-size: 150%;
		font-family: "Abril Fatface", cursive;
	}
	#container #main #conts .event .unitCol2 li .deco p {
		font-family: "Abril Fatface", cursive;
		line-height: 1.5;
		font-size: 130%;
	}
	#container #main #conts .event .unitCol2 li .deco p .time {
		font-size: 140%;
	}
	#container #main #conts .event .unitCol2 li .deco + p {
		line-height: 2;
	}
	#container #main #conts .event .unitCol2  li a {
		color: #000000;
	}
	#container #main #conts .event_detail{
		width: 960px;
		margin: 0 auto;
	}
	#container #main #conts .center_iframe {
	  display: block;
	  margin: auto;
	}
	#container #main #conts .event .map-col01{
		width: 960px;
		margin: 0 auto;
	}


	#container #main #conts .event .unitCol2 li .gmap iframe{
		width: 450px;
		height: 348px;
	}


	#container #main #conts .event .unitCol2 .gmap {
		width: 960px;
		height: 348px;
		margin: 0 auto;		
	}
	#container #main #conts .event .unitCol2 .gmap .mapbox  {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	}



  #container #main #conts .invForm {
	padding: 40px 0;
	margin: 0 auto 80px;
  }
  #container #main #conts .invForm .frame {
	padding: 30px 30px 45px;
	margin: 0 auto;
	width: 550px;
  }
  #container #main #conts .invForm .frame h2 {
	margin-bottom: 12px;
	font-size: 150%;
  }
  #container #main #conts .invForm .frame p {
	margin-bottom: 40px;
	font-size: 90%;
	line-height: 2;
  }
  #container #main #conts .invForm .frame .form {
	width: auto;
  }
  #container #main #conts .invForm .frame .form dl {
	margin-bottom: 10px;
	width: 100%;
	display: table;
  }
  #container #main #conts .invForm .frame .form dl:last-child {
	margin-bottom: 40px;
  }
  #container #main #conts .invForm .frame .form dl dt, #container #main #conts .invForm .frame .form dl dd {
	display: table-cell;
	vertical-align: top;
  }
  #container #main #conts .invForm .frame .form dl dt {
	padding-top: 5px;
	width: 120px;
	font-size: 85%;
  }
  #container #main #conts .invForm .frame .form dl dd input, #container #main #conts .invForm .frame .form dl dd select {
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
  }
  #container #main #conts .invForm .frame .form dl dd .error {
	margin: 5px 0 0;
	color: #FF3535;
	font-size: 85%;
  }
  #container #main #conts .diary {
	margin-bottom: 170px;
  }
  #container #main #conts .diary .ttl01 {
	margin-bottom: 50px;
  }
  #container #main #conts .diary ul {
	margin: 0 auto;
	width: 680px;
  }
  #container #main #conts .diary ul li {
	margin-bottom: 30px;
  }
  #container #main #conts .diary ul li:last-child {
	margin-bottom: 0;
  }
  #container #main #conts .diary ul li a .box {
	width: 100%;
	display: table;
  }
  #container #main #conts .diary ul li a .box .img {
	padding-right: 30px;
	width: 151px;
	display: table-cell;
	vertical-align: top;
  }
  #container #main #conts .diary ul li a .box .inner {
	width: 499px;
	display: table-cell;
	vertical-align: top;
  }
  #container #main #conts .diary ul li a .box .inner .ttl {
	font-size: 120%;
  }
  #container #main #conts .diary ul li a .box .inner p {
	font-size: 85%;
	line-height: 2;
  }
#container #main #conts .diary .messageBox {
	  text-align:center;
	  max-width: 480px;
	  width: 95%;
	  margin-right: auto;
	  margin-left: auto;
}
.greeting {
	width: 90%;
	max-width: 720px;
	margin: 40px auto;
	text-align:center;
	}
}
/*------------------------------------------------------------
	ブレイクポイントごとの設定
------------------------------------------------------------*/
/* 960px以上 */
@media only screen and (min-width: 960px) {
	
  #container #main #conts #mainVisual {
	margin-bottom: 0px;
	height: 640px;
  }
#container #main .welTtl02 {
	margin-left: -480px;
	width: 960px;
	top: 280px;
}
}
@media only screen and (min-width: 1400px) {
	
  #container #main #conts #mainVisual {
	margin-bottom: 0px;
	height: 900px;
  }
#container #main .welTtl02 {
	margin-left: -480px;
	width: 960px;
	top: 400px;
}
#container #main .welTtl02 .name .inner {
	padding: 60px 0 0;
	width: 220px;
	height: 220px;
	font-size: 170%;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	-ms-border-radius: 300px;
	-o-border-radius: 300px;
	border-radius: 300px;
	line-height:1.1;
}






