@charset "UTF-8";

ol,ul,dl,dd,dt{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
}

input, select {
	line-height: 1.5;
	}
#main .ttl01 {
	margin-bottom: 40px;
	font-size: 142.85714%;
	text-align: center;
	letter-spacing: 2px;
}

fieldset{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
}



#container {
	padding-top: 60px;
}
#container #main {
	position: relative;
}
#container #main #conts {
	width: auto;
}
#container #main #conts .ttl01 {
	color: #000;
	font-size: 85%;
	font-family: "Abril Fatface";
	font-weight: normal;
	font-style: italic;
}
#container #main #conts .ttl01 .icon {
	position: relative;
}
#container #main #conts .ttl01 .icon:after, #container #main #conts .ttl01 .icon:before {
	margin-top: -2px;
	width: 30px;
	height: 4px;
	position: absolute;
	top: 50%;
	content: "";
}
#container #main #conts .ttl01 .icon:after {
	right: -40px;
	background: url(/images/ttl_deco_r.png) no-repeat;
	-webkit-background-size: 30px 4px;
	-moz-background-size: 30px 4px;
	-ms-background-size: 30px 4px;
	-o-background-size: 30px 4px;
	background-size: 30px 4px;
}
#container #main #conts .ttl01 .icon:before {
	left: -40px;
	background: url(/images/ttl_deco_l.png) no-repeat;
	-webkit-background-size: 30px 4px;
	-moz-background-size: 30px 4px;
	-ms-background-size: 30px 4px;
	-o-background-size: 30px 4px;
	background-size: 30px 4px;
}
#container #main #conts .top {
	margin-top: 40px;
	margin-bottom: 40px;
}
#container #main #conts .top .ttl01 {
}
#container #main #conts .top .unitCol2 {
	padding: 0 10px;
	min-width: 300px;
	letter-spacing: -0.4em;
	text-align: center;
}
#container #main #conts .top .unitCol2 li {
	margin-bottom: 20px;
	width: 300px;
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
}
#container #main #conts .top .unitCol2 li:last-child {
	margin-bottom: 0;
}
#container #main #conts .top .unitCol2 li .img {
	margin: 0 auto 15px;
	width: 160px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#container #main #conts li .img .pPhoto {
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-ms-border-radius: 80px;
	-o-border-radius: 80px;
	border-radius: 80px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center center;
	width: 160px;
	height: 160px;
}
#container #main #conts .top .unitCol2 li .name {
	margin-bottom: 15px;
	font-size: 150%;
	font-family: "Abril Fatface";
	font-weight: normal;
	color: #000;
}
#container #main #conts .top .unitCol2 li p {
	color: #666;
	line-height: 2;
	font-size: 85%;
}
#container #main #conts .event {
	margin-bottom: 40px;
}
#container #main #conts .event .ttl01 {
	margin-bottom: 20px;
}
#container #main #conts .event .unitCol2 {
	letter-spacing: -0.4em;
	text-align: center;
}
#container #main #conts .event .unitCol2 li {
	margin-bottom: 35px;
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
}
#container #main #conts .event .unitCol2 li:last-child {
	margin-bottom: 0;
}
#container #main #conts .event .unitCol2 li .deco {
	padding: 25px 0;
	position: relative;
}
#container #main #conts .event .unitCol2 li .deco:after, #container #main #conts .event .unitCol2 li .deco:before {
	margin-left: -89px;
	width: 178px;
	height: 9px;
	background: url(/images/icon_deco.png) no-repeat center top;
	position: absolute;
	left: 50%;
	content: "";
}
#container #main #conts .event .unitCol2 li .deco:before {
	top: 0;
}
#container #main #conts .event .unitCol2 li .deco:after {
	bottom: 0;
}
#container #main #conts .event .unitCol2 li .deco .ttl {
	font-size: 150%;
	font-family: "Abril Fatface", cursive;
}
.time {
	font-family: "Abril Fatface", cursive;
	line-height: 1.5;
	font-size: 170%;
}
#container #main #conts .event .unitCol2 li .deco p {
	font-size: 150%;
	line-height: 2;
}
#container #main #conts .event .unitCol2  li a {
	color: #000000;
}
#container #main #conts .invForm {
	padding: 20px;
	margin: 0 auto 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background: url(/images/bg_form.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#container #main #conts .invForm .frame {
	padding: 15px;
	margin: 0 auto;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
}
#container #main #conts .invForm .frame h2 {
	margin-bottom: 12px;
	color: #81D8D0;
	font-size: 150%;
	font-family: 'Abril Fatface' !important;
	font-style: italic;
	font-weight: 400;
	text-align: center;
}
#container #main #conts .invForm .frame .form_message {
	margin-bottom: 20px;
}
#container #main #conts .invForm .frame .form {
	width: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
	position: relative;
}

#container #main #conts .event {
margin-bottom: 80px;
}
#container #main #conts .event .ttl01 {
margin-bottom: 20px;
}
#container #main #conts .event .unitCol2 {
text-align: center;
margin-bottom: 30px;
}
#container #main #conts .event .unitCol2 li {
width: 90%;
margin-bottom: 60px;
}
#container #main #conts .event .unitCol2 li .shopdata{
	float: none;
	width: 90%;
	margin: 0 auto 30px;
}
#container #main #conts .event .unitCol2 li .deco .ttl {
margin-bottom: 20px;
font-size: 150%;
}
.time {
font-size: 170%;
}

#container #main #conts .center_iframe {
  display: block;
  margin: auto;
}

#container #main #conts .invForm .frame .form dl {
	margin-bottom: 10px;
	width: 100%;
}
#container #main #conts .invForm .frame .form dl:last-child {
	margin-bottom: 40px;
}
#container #main #conts .invForm .frame .form dl dt, #container #main #conts .invForm .frame .form dl dd {
	display: block;
	vertical-align: top;
}
#container #main #conts .invForm .frame .form dl dt {
	padding-top: 5px;
	font-size: 85%;
}
#container #main #conts .invForm .frame .form dl dd input, #container #main #conts .invForm .frame .form dl dd select {
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
#conts .invForm .frame .form dl dd textarea  {
	width: 100%;
}
.formBtn {
	margin: -20px auto 20px auto;
	width: 123px;
}
.formBtn button {
	padding: 10px 0;
	width: 123px;
	background-color: #81D8D0;
	border: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	color: #fff;
	font-size: 110.0%;
	cursor: pointer;
}
.formBtn:hover button {
	background-color: #A3E2DC;
}
.greeting {
	width: 90%;
	margin: 40px auto;
	text-align: center;
}
.reply {
	width: 90%;
	margin: 20px auto 40px auto;
}
.reply_column {
	width: 120px;
	text-align: right;
	vertical-align: top;
}

/*------------------------------------------------------------
	ブレイクポイントごとの設定
------------------------------------------------------------*/
/* 640px以上 */
@media only screen and (min-width: 641px) {
  #container #main {
	position: relative;
  }
  #container #main #conts .ttl01 {
	font-size: 150%;
  }
  #container #main #conts .ttl01 .icon {
	position: relative;
  }
  #container #main #conts .ttl01 .icon:after, #container #main #conts .ttl01 .icon:before {
	margin-top: -4px;
	width: 60px;
	height: 8px;
  }
  #container #main #conts .ttl01 .icon:after {
	right: -80px;
	background: url(/images/ttl_deco_r.png) no-repeat;
  }
  #container #main #conts .ttl01 .icon:before {
	left: -80px;
	background: url(/images/ttl_deco_l.png) no-repeat;
  }
  #container #main #conts .top {
	margin-top: 70px;
	margin-bottom: 80px;
  }
  #container #main #conts .top .ttl01 {
	margin-bottom: 20px;
  }
  #container #main #conts .top .unitCol2 {
	letter-spacing: -0.4em;
	text-align: center;
  }
  #container #main #conts .top .unitCol2 li {
	margin: auto 40px;
	width: 300px;
  }
  #container #main #conts .top .unitCol2 li:first-child {
	margin-left: 0;
  }
  #container #main #conts .top .unitCol2 li .img {
	width: 160px;
  }
  #container #main #conts .event {
	margin-bottom: 80px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 60px;
  }
  #container #main #conts .event .ttl01 {
	margin-bottom: 20px;
  }
	#container #main #conts .event_detail {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
  }
	#container #main #conts .center_iframe {
	  display: block;
	  margin: auto;
	}

	#container #main #conts .event .unitCol2 {
		/*letter-spacing: -0.4em;*/
		text-align: center;
	}
	#container #main #conts .event .unitCol2 li {
		width: 50%;
		margin-bottom: 35px;
		display: inline-block;
		letter-spacing: normal;
		vertical-align: top;
	}
	#container #main #conts .event .unitCol2 li:last-child {
		margin-bottom: 0;
	}
	#container #main #conts .event .unitCol2 li .deco {
		margin-bottom: 20px;
		padding: 25px 0;
		position: relative;
	}
	#container #main #conts .event .unitCol2 li .deco:after, #container #main #conts .event .unitCol2 li .deco:before {
		margin-left: -89px;
		width: 178px;
		height: 9px;
		background: url(/images/icon_deco.png) no-repeat center top;
		position: absolute;
		left: 50%;
		content: "";
	}
	#container #main #conts .event .unitCol2 li .deco:before {
		top: 0;
	}
	#container #main #conts .event .unitCol2 li .deco:after {
		bottom: 0;
	}
	#container #main #conts .event .unitCol2 li .deco .ttl {
		margin-bottom: 0px;
		font-size: 150%;
		font-family: "Abril Fatface", cursive;
	}
	.time {
		font-family: "Abril Fatface", cursive;
		line-height: 1.5;
		font-size: 140%;
	}
	#container #main #conts .event .unitCol2 li .deco p {
		font-size: 150%;
		line-height: 2;
	}
	#container #main #conts .event .unitCol2  li a {
		color: #000000;
	}
	#container #main #conts .event_detail{
		width: 960px;
		margin: 0 auto;
	}
	#container #main #conts .center_iframe {
	  display: block;
	  margin: auto;
	}

  #container #main #conts .invForm {
	padding: 40px 0;
	margin: 0 auto 80px;
  }
  #container #main #conts .invForm .frame {
	padding: 30px 30px 45px;
	margin: 0 auto;
	width: 550px;
  }
  #container #main #conts .invForm .frame h2 {
	margin-bottom: 12px;
	font-size: 150%;
  }
  #container #main #conts .invForm .frame .form_message {
	margin-bottom: 20px;
  }
  #container #main #conts .invForm .frame .form {
	width: auto;
  }
  #container #main #conts .invForm .frame .form dl {
	margin-bottom: 10px;
	width: 100%;
	display: table;
  }
  #container #main #conts .invForm .frame .form dl:last-child {
	margin-bottom: 40px;
  }
  #container #main #conts .invForm .frame .form dl dt, #container #main #conts .invForm .frame .form dl dd {
	display: table-cell;
	vertical-align: top;
  }
  #container #main #conts .invForm .frame .form dl dt {
	padding-top: 5px;
	width: 120px;
	font-size: 85%;
  }
  #container #main #conts .invForm .frame .form dl dd input, #container #main #conts .invForm .frame .form dl dd select {
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
  }
  #container #main #conts .invForm .frame .form dl dd .error {
	margin: 5px 0 0;
	color: #FF3535;
	font-size: 85%;
  }
	.greeting {
		width: 90%;
		max-width: 720px;
		margin: 40px auto;
		text-align:center;
	}
	.reply {
		width: 70%;
		max-width: 500px;
		margin: 20px auto 40px auto;
	}
	.reply_column {
		width: 120px;
		text-align: right;
		vertical-align: top;
	}
}
